@charset "utf-8";

/* =======================================================================================================================
 * 최초 생성 : 이정민 / xwjdalsz0227@gmail.com
 * date : 2024.11.09
 * FONT, NORMAILZE CSS
 * font-size : rem 단위. 디폴트 값 1.4rem(14px)
 * CSS 작성 규칙 : {기준속성, 크기속성, 위치속성, 라인속성, 서체속성, Etc속성, 백그라운드 속성} 으로 순서대로 나열해서 적는다.
 * ======================================================================================================================= */
 /* ---------------------------------------------------------------------------------------
    00. Fonts
--------------------------------------------------------------------------------------- */
/* cafe24 */
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------------------------------------------------------------
    01. NORMALIZE
--------------------------------------------------------------------------------------- */
*, *::before, *::after{-webkit-box-sizing:border-box;box-sizing:border-box}
* {margin:0}
html, body{height:100%;font-size:62.5%}
body{position:relative;font-size:1.4rem; font-family:'Malgun Gothic', '맑은 고딕', sans-serif; font-weight:300;color:#212121;background-color:#F2F2F2;margin:0;border:0;text-align:left;line-height:1;-webkit-font-smoothing:antialiased}
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{margin:0;padding:0}
article, aside, footer, header, nav, section{display:block}
ul,li,ol,li,dl,dd,dt{list-style:none}
table {padding:0;border-spacing:0;border:0;border-collapse:collapse}
caption{margin:0;padding:0;width:0;height:0;z-index:-1;font-size:0;line-height:0;visibility:hidden}
legend,hr{position:absolute;left:-99.9rem;width:0;height:0;font-size:0;visibility:hidden;z-index:-1}
hr{display:none}
h1, h2, h3, h4, h5, h6{font-weight:900}
p{word-break:keep-all}
table{width:100%;table-layout:fixed}
button{font-family:font-family:'Malgun Gothic', '맑은 고딕', sans-serif; border:0;background-color:transparent;cursor:pointer;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}
iframe{width:100%;border:0}
fieldset, img{border:none}
input, select, textarea, label{font-family:'Malgun Gothic', '맑은 고딕', sans-serif; vertical-align:middle}
input[type="radio"], label{cursor:pointer}
a{text-decoration:none;vertical-align:middle;cursor:pointer;color:#008cff;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}
a:hover{text-decoration:none}
::-moz-selection{background:#008cff;color:#fff}
::selection{background:#008cff;color:#fff}

/* ---------------------------------------------------------------------------------------
    02. COMMON
--------------------------------------------------------------------------------------- */
/* display */
.flex{display:flex;}

/* layout */
.sub-wrap{max-width:90rem; width:100%; position:relative; border:solid 1px #ddd}

/* responsive */
@media all and (max-width:900px) {
	html{font-size:52.5%}
}
@media all and (max-width:768px) {
	html{font-size:42.5%}
}

/* ---------------------------------------------------------------------------------------
    03. SUB PAGES
--------------------------------------------------------------------------------------- */
/* SUB 001 : Minitab으로 쉽게 배우는 기초 통계 */
#sub001{font-family:GmarketSans; font-weight:400}
#sub001 .col-primary{color:#00beba}
#sub001 .visual{height:60rem; padding:0 3.5rem; text-align:center; background:url('../sub-images/sub001/sub001_bg_visual.jpg') no-repeat center top; background-size:cover;}
#sub001 .visual > *{font-style:italic; color:#fff}
#sub001 .visual .sub-tit{display:inline-block; margin:6.5rem 0 3rem 0; padding:1.5rem 3rem; font-size:4.5rem; font-weight:300; background:#000}
#sub001 .visual .tit{font-size:10rem; font-weight:700;}
#sub001 .sub{padding:0 3.5rem 8rem;}
#sub001 .sub > .tit{padding-top:8rem; margin-bottom:7rem; font-size:4.5rem; font-weight:700; text-align:center; background:url('../sub-images/sub001/sub001_bg_subTit.png') no-repeat center top;}
#sub001 .sub.intro{padding:8rem 3.5rem 4rem;text-align:center; color:#fff; background:#222}
#sub001 .sub.intro .tit{padding-top:0; background:none; margin-bottom:3rem; font-family:Cafe24Ohsquareair; font-size:4.8rem}
#sub001 .sub.intro .tit > span{font-family:Cafe24Ohsquare}
#sub001 .sub.intro p{margin-bottom:5rem; font-size:2.5rem;}
#sub001 .sub.intro .bottom{margin-bottom:0; padding-top:3.5rem; font-size:2.8rem; font-weight:700}
#sub001 .sub.feature .feature-list .tit{padding-bottom:1.8rem; margin-bottom:1.8rem; border-bottom:solid 0.1rem #00beba; font-size:3rem; font-weight:700}
#sub001 .sub.feature .feature-list .tit > .num{font-size:5rem; color:#d4d4d4}
#sub001 .sub.feature .feature-list > li + li{margin-top:3rem}
#sub001 .sub.feature .feature-list > li > ul{margin-bottom:3rem}
#sub001 .sub.feature .feature-list > li > ul > li{position:relative; padding-left:2rem; font-size:2.3rem; word-break:keep-all;}
#sub001 .sub.feature .feature-list > li > ul > li::before{position:absolute; left:0; top:1rem; width:1rem; height:0.1rem; background:#222; content:'';}
#sub001 .sub.feature .feature-list > li > ul > li + li{margin-top:1.8rem}
#sub001 .sub.recomme{text-align:center; background:url('../sub-images/sub001/sub001_bg_recomme.jpg') no-repeat center top; background-size:cover;}
#sub001 .sub.recomme .tit{color:#fff}
#sub001 .sub.recomme .recomme-list{width:100%; max-width:75rem; margin:0 auto;}
#sub001 .sub.recomme .recomme-list li{padding:2rem 1rem 2rem 12rem; font-size:2.6rem; font-weight:700; border-radius:6rem; text-align:left; background:#fff url('../sub-images/sub001/sub001_img_recomme1.png') no-repeat 3rem bottom; background-size:8rem}
#sub001 .sub.recomme .recomme-list li + li{margin-top:2rem}
#sub001 .sub.recomme .recomme-list li:nth-child(2){background-image:url('../sub-images/sub001/sub001_img_recomme2.png')}
#sub001 .sub.recomme .recomme-list li:nth-child(3){background-image:url('../sub-images/sub001/sub001_img_recomme3.png')}
#sub001 .sub.recomme .recomme-list li:nth-child(4){background-image:url('../sub-images/sub001/sub001_img_recomme4.png')}
#sub001 .sub.curriculum .curriculum-list{display:flex; flex-flow:wrap}
#sub001 .sub.curriculum .curriculum-list .item{width:33.3333%; margin:-1px 0 0 -1px; padding:2.5rem 2rem; border:solid 1px #ddd}
#sub001 .sub.curriculum .curriculum-list .item:last-child{width:calc(100% - 2px)}
#sub001 .sub.curriculum .curriculum-list .item .num{display: inline-block; margin-bottom:1rem; padding:0.4rem 1.3rem; font-size:2rem; font-weight:700; border-radius:6rem; background:#00beba; color:#fff}
#sub001 .sub.curriculum .curriculum-list .item .tit{margin-bottom:2rem; font-size:2rem; font-weight:700; color:#00beba;}
#sub001 .sub.curriculum .curriculum-list .item > ul > li{position:relative; padding-left:1rem; font-size:1.8rem;}
#sub001 .sub.curriculum .curriculum-list .item > ul > li::before{position:absolute; left:0; top:1rem; width:0.5rem; height:0.1rem; background:#222; content:'';}
#sub001 .sub.curriculum .curriculum-list .item > ul > li + li{margin-top:1rem}
#sub001 .sub.effect{text-align:center; background:url('../sub-images/sub001/sub001_bg_effect.jpg') no-repeat center top; background-size:cover; color:#fff}
#sub001 .sub.effect .sub-tit{padding:8rem 0 2.5rem 0; font-size:2.2rem}
#sub001 .sub.effect .tit{padding-top:0; font-family:Cafe24Ohsquare; background:none}
#sub001 .sub.effect .effect-list{display:flex; flex-flow:wrap}
#sub001 .sub.effect .effect-list li{padding-top:13rem; width:33.333%; font-size:2.2rem; line-height:1.3; background:url('../sub-images/sub001/sub001_img_effect1.png') no-repeat center top; background-size:18rem}
#sub001 .sub.effect .effect-list li:nth-child(2){background-image:url('../sub-images/sub001/sub001_img_effect2.png')}
#sub001 .sub.effect .effect-list li:nth-child(2){background-image:url('../sub-images/sub001/sub001_img_effect3.png')}
#sub001 .sub.effect .effect-list .underline{display:inline-block; padding:0 .4rem; background:rgba(0, 190, 186, .3);}
#sub001 .sub.tutor .tutor-area{display:flex; flex-flow: wrap}
#sub001 .sub.tutor .photo{width:25%; padding-top:22rem; font-size:2.6rem; font-weight:700; text-align:center; background:url('../sub-images/sub001/sub001_img_tutor.png') no-repeat center top; background-size:20rem}
#sub001 .sub.tutor .tutor-list{width:75%; padding-left:4.5rem}
#sub001 .sub.tutor .tutor-list .item + .item{margin-top:5rem}
#sub001 .sub.tutor .tutor-list p{font-size:2.2rem}
#sub001 .sub.tutor .tutor-list ul li{position:relative; padding-left:1rem; font-size:2.2rem}
#sub001 .sub.tutor .tutor-list ul li::before{position:absolute; left:0; top:1rem; width:0.5rem; height:0.1rem; background:#222; content:'';}
#sub001 .sub.tutor .tutor-list ul li + li{margin-top:2rem}
#sub001 .sub.tutor .tutor-list p + p, .sub.tutor .tutor-list p + ul{margin-top:2rem}
#sub001 .sub.tutor .tutor-list .tit{margin-top:0; margin-bottom:2rem; font-weight:700; color:#00beba}

@media all and (max-width:900px) {
	html{font-size:52.5%}
	img{width:100%}
	.sub.feature .feature-list .flex{display:block;}
	.sub.effect .effect-list li > br{display:none}
	.sub.tutor .tutor-area{display:block;}
	.sub.tutor .tutor-area > *{width:100%}
	.sub.tutor .tutor-list{padding:8rem 0 0 0}
}
@media all and (max-width:768px) {
	html{font-size:42.5%}
	.sub.curriculum .curriculum-list{display:block; margin:0;}
	.sub.curriculum .curriculum-list .item{width:100%}
	.sub.curriculum .curriculum-list .item:last-child{width:100%}
	.sub.effect .effect-list{display:block;}
	.sub.effect .effect-list li{width:100%}
	.sub.effect .effect-list li + li{margin-top:6rem}
	.sub.effect .effect-list li > br{display:inline;}
}